@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: #111010;
  font-family: "Lucida Console", Monaco, monospace;
}

.monserat {
  font-family: "Montserrat", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.button-color {
  background-color: #3f51b5;
}

.button-text {
  color: #ffffff;
}

.button-hover:hover {
  background-color: #ff4081;
}

.ReactTags__tags {
  width: 100%;
  /* find a way to change this */
  /* max-width: 400px; */
}

.ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f88d8d;
  color: #fff;
  border: none;
}

/* Styles for the input */
.ReactTags__tagInput {
  border-radius: 2px;
  display: block;
  padding: 2px;
  border-bottom: #078c9e solid 2px !important;
  width: 100% !important;
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 35px;
  background-color: transparent;
  margin: 0;
  border: none;
  font-size: 12px;
  color: white;
  width: 100%;
  min-width: 150px;
}

.ReactTags__editInput {
  border-radius: 1px;
}

.ReactTags__editTagInput {
  display: inline-flex;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
  background: #078c9e;
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 10px;
  margin: 2px 2px;
  border-radius: 12px;
}
.ReactTags__selected a.ReactTags__remove {
  color: red;
  padding-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
  position: absolute;
}
.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: #1a1a1a;
  border-radius: 10px;
  padding: 5px;
  width: 200px;
}
.ReactTags__suggestions li {
  padding: 5px 10px;
  margin: 0;
}
.ReactTags__suggestions li mark {
  color: #078c9e;
  background: #1a1a1a;
  font-weight: 600;
}

.react-datetime-picker__wrapper {
  border: none !important;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  color: #078c9e;
  cursor: pointer;
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  padding-left: 5px;
  color: #078c9e;
}

[data-testid="flowbite-tooltip"] {
  background-color: #1a1a1a !important;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #078c9e;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #1a1a1a;
}
